@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    .bg-video {
        background-image: linear-gradient(0deg, hsl(0, 0%, 0%, .8), hsl(0, 0%, 0%, .8)), url(./src/assets/bg-play.jpg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .remove-scroll::-webkit-scrollbar{
        display: none;
    }

    .animate-soften-render {
        animation-name: soften-render;
        animation-duration: .7s;
        animation-timing-function: ease;
    }

    .animate-show-header {
        animation-name: show-header;
        animation-duration: .7s;
        animation-timing-function: ease;
    }
}

@keyframes soften-render {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes show-header {
    from {
        transform: translateY(-101%);
    }
    to {
        transform: translateY(0);
    }
}

@media (width < 549px) {
    html {
        font-size: 87%;
    }
}